
.city-list{
  height: 100%;
  .search-box {
    position: absolute;
    top: 8px;
    width: 100%;
    padding: 0 10px;
    background-color: #ccc;
    z-index: 99999;
    .search {
      flex: 1;
      height: 34px;
      margin: 0 10px;
      padding: 5px 5px 5px 8px;
      border-radius: 3px;
      background-color: #fff;
      .location {
        .icon-arrow {
          margin-left: 2px;
          font-size: 12px;
          color: #7f7f80;
        }
      }
      .form {
        border-left: solid 1px #e5e5e5;
        margin-left: 12px;
        line-height: 16px;
  
        .icon-seach {
          vertical-align: middle;
          padding: 0 2px 0 12px;
          color: #9c9fa1;
          font-size: 15px;
        }
        .text {
          padding-left: 4px;
          font-size: 13px;
          color: #9c9fa1;
        }
      }
    }
    .icon-map {
      font-size: 25px;
      color: #21b97a;
    }
  }
 
  .list-header {
    height: 50px;
    background-color: #ccc;
  }
  .list-tabs {
    background-color: #fff;
  }
  .carts {
    .news-item {
      overflow: hidden;
      height: 120px;
      padding: 5px 10px 15px 0;
      border-bottom: 1px solid #e5e5e5;
    }
  
    .news-item:last-child {
      border: 0;
    }
  
    .imgwrap {
      float: left;
      height: 90px;
      width: 120px;
      .img {
        width: 120px;
      }
    }
  
   
  
    .content {
     display: flex;
     flex-direction: column;
      height: 100%;
      padding-left: 10px;
    }
  
    .title {
      height: 20px;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .info {
      width: 100%;
      color: #9c9fa1;
      font-size: 12px;
      padding: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      color: red;
      padding-top: 5px;
      span {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .tag-h {
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
      color: #39BECD;
      background-color: #E1F5F8;
    }
    .tag-g {
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
      color: #3FC28C;
      background-color: #E1F5ED;
    }
    
    .tag-l {
      font-size: 12px;
      margin-right: 5px;
      padding: 3px;
      color: #5AABFD;
      background-color: #E6F2FF;
    }
    .message-title {
      margin-bottom: 48px;
    }
  }
}
