.homeindex {
  width: 100%;
  /* background-color: #f6f5f6; */
}
.homeindex .am-wingblank.am-wingblank-lg {
  margin: 0;
}
.tab {
  height: 50px;
}
.am-tab-bar-bar,.am-tabs-tab-bar-wrap {
  position: fixed;
  bottom: 0;
  height: 50px;
}
.am-tab-bar-bar .am-tab-bar-tab-image {
  font-size: 0;
}
.tabbar-item-icon {
  width: 22px;
  height: 22px;
}
.tabbar-item-selectedIcon {
  width: 22px;
  height: 22px;
}
.nav {
  padding: 10px 0;
  .am-flexbox-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 48px;
    }
    span {
      margin-top: 7px;
      font-size: 13px;
      font-weight: normal;
    }
  }
}
// .nav .imgs {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   height: 65px;
//   padding: 7px 20px;
// }
// .nav img {
//   width: 100%;
//   height: 100%;
//   margin-bottom: 7px;
// }
// .nav .imgs text {
//   font-size: 13px;
// }
.floors {
  background-color: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;
  .floor-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    height: 40px;
  }
  .am-grid .am-flexbox {
    background-color: inherit;

    .am-flexbox-item .am-grid-item-content {
      padding: 0;
      padding-bottom: 10px;
    }
  }
  .am-flexbox-align-stretch {
    margin-bottom: 10px;

    .am-grid-item {
      background-color: #fff;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .group-item {
    height: 75px;
    .desc {
      
      &:first-child {
        font-weight: bold;
        font-size: 13px;
      }
     .info {
       margin-top: 5px;
        font-size: 12px;
        color: #999;
      }
    }
    img {
      width: 55px;
    }
  }
}

.floor-title h3 {
  flex: 8;
}
.floor-title span {
  flex: 1;
}
.floors-content {
  width: 100%;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
 
}
.floor-item {
  /* flex: 1; */
  width: 177px;
  display: flex;
  height: 70px;
  background-color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  padding-top: 5px;
}
.floor-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #999;
  flex-wrap: nowrap;
}
.floor-left strong {
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
}
.floor-img {
  flex: 1;
}
.floor-img img {
  width: 100%;
  height: 100%;
  padding: 5px 10px 0;
}
.main-news {
  background-color: #fff;
  padding:0 15px;
  color: black;
}
.main-content {
  width: 100%;
  height: 100px;
  display: flex;
  padding:10px 0;
  border-bottom: 1px solid #f6f5f6;
}
.main-img {
  width: 110px;
  height: 100%;
}
.main-img img {
  width: 100%;
  height: 100%;
}
.main-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.main-title {
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-top: 5px;
}
.main-news-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}
.main-foot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #999;
}