.home {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}
.home .iconfont {
  font-size: 20px;
}
.home .am-tab-bar-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  margin: 0;
  padding: 5px 0;
}