.tabs {
  list-style: none;
  float: left;
  padding-left: 20px;
  /* border: 1px solid #ccc; */
}
ul {
  margin-bottom: 20px;
}
.didd {
 
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}
h3 {
  padding-top: 10px;
}
.active {
  color: rgb(46, 33, 58);
  background-color: yellowgreen;
}